html {
    font-size: 100%;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    background-color: hsl(0, 0%, 98%);
}

h1,
h2,
h3 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    margin: 0;
}

p {
    color: hsl(229, 6%, 66%);
    font-size: 93.75%;
    margin: 0;
    line-height: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extralight {
    font-weight: 200;
}

.card {
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding-top: 4px;
    overflow: hidden;
    box-shadow: 0 8px 16px 2px hsl(228, 45%, 44%, 25%);
}

.cyan {
    background-color: hsl(180, 62%, 55%);
}

.red {
    background-color: hsl(0, 78%, 62%);
}

.orange {
    background-color: hsl(34, 97%, 64%);
}

.blue {
    background-color: hsl(212, 86%, 64%);
}

.card-content {
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    padding: 1.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ch {
    font-size: 1.25rem;
    line-height: 100%;
    margin-bottom: 0.625rem;
}

.cp {
    font-size: 0.8125rem;
    line-height: 170%;
    letter-spacing: 1%;
}

.cicon {
    width: 3.75rem;
    height: 3.75rem;
    align-self: flex-end;
}


/* intro mobile */
@media screen and (max-width:768px) {

    .intro {
        text-align: center;
        margin-bottom: 4.75rem;
        max-width: 480px;
    }

    .intro h1 {
        font-size: 1.5rem;
    }

    .intro h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

/* intro tablet & desktop */
@media screen and (min-width:769px) {

    .intro {
        text-align: center;
        margin-bottom: 4rem;
        max-width: 34rem;
    }

    .intro h1 {
        font-size: 2.25rem;
    }

    .intro h2 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
}

/* cards mobile & tablet */
@media screen and (max-width:1023px) {
    main {
        padding: 5rem 2rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .card {
        max-width: 311px;
        min-width: 200px;
        height: 13.875rem;
    }
}

/* cards desktop */
@media screen and (min-width:1024px) {
    main {
        padding: 5rem 0;
    }

    .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.875rem;
        box-sizing: border-box;
        max-width: 1170px;
        padding: 0 1.875rem;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.875rem;
        width: 33%;
    }

    .card {
        height: 15.625rem;
    }
}

footer {
    box-sizing: border-box;
    background-color: hsl(228, 45%, 44%);
    padding: 2rem;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(212, 36%, 84%);
}

.attribution a {
    color: white;
}