body {
    font-family: Montserrat, sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 160%;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

/* Mobile Layout */
@media screen and (max-width:480px) {
    article {
        display: flex;
        flex-direction: column;
        width: 345px;
        margin: 1.5em 0;
    }

    .desktop-image {
        display: none;
    }

    .article-description {
        padding: 20px 24px;
    }

    .article-description p {
        margin-bottom: 20px;
        line-height: 180%;
    }
}

/* Desktop Layout */
@media screen and (min-width:481px) {
    article {
        max-width: 600px;
        display: flex;
        flex-direction: row;
        margin: 10em 0;
    }

    .mobile-image {
        display: none;
    }

    .desktop-image {
        width: 50%;
    }

    .article-description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 16px 32px;
    }

    .article-description>span,
    h1,
    p,
    div,
    button {
        margin: 0;
        padding: 0;
    }
}

.overline {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 12px;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-family: Fraunces, serif;
    font-size: 2.25em;
    line-height: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.price {
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    align-items: center;
}

.newprice {
    color: hsl(158, 36%, 37%);
    font-family: Fraunces, serif;
    font-size: 2.25em;
    line-height: 100%;
}

.oldprice {
    text-decoration: line-through;
}

button {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: white;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

button:hover {
    cursor: pointer;
    background-color: hsl(157, 40%, 18%);
}

footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(158, 36%, 37%);
}